<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Допустимые способы обработки данных -->
		<add key="CanSaveToFile" value="yes"/>
		<add key="CanCreateReport" value="yes"/>
		<add key="CanSaveToDataBase" value="yes"/>
		<!-- Параметры Сохранения в файл -->
		<add key="SaveFilesPath" value=""/>
		<add key="FormatSaveFile" value="csv"/>
		<!-- Параметры Сохранения в базу данных -->
		<add key="SaveDatabasePath" value=""/>
		<add key="DataBaseFileName" value="database.db"/>
	</appSettings>
</configuration>