<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Допустимые способы обработки данных -->
		<add key="CanSaveToFile" value="no"/>
		<add key="CanCreateReport" value="yes"/>
		<add key="CanSaveToDataBase" value="yes"/>
		<add key="DataBaseName" value="database.db"/>
	</appSettings>
</configuration>